@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.SideBar {
  color: white;
  padding: 1em;
}

.side-bar-item {
  text-transform: capitalize;
  padding: 0.5em 0;
  font-size: 0.8em;
}

.side-bar-container img {
  padding-left: 10px;
}

.SideBar h1 {
  font-size: 1.5em;
  margin-bottom:2em;
  font-family: 'Abril Fatface', cursive;
}

.SideBar h2 {
  font-size: 0.9em;
  border-bottom: 0.5px solid rgba(204,204,204,0.5);
  padding-bottom: 1em;
  font-weight: normal;
  line-height: 1.5em;
}

.online-icon {
  font-size: 0.6em;
  padding-right: 1em;
  color:rgb(6, 247, 106);
}

.fa-user {
  padding-right: 0.5em;
}

@media (max-width: 48em){
  .SideBar {
    font-size: 0.8em;
  }
  .side-bar-Container {
    padding-left: 0.3em;
  }
}